{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Promptlyy | Login</title>
    <link rel="stylesheet" href="{% static 'css/login-hud.css' %}">
</head>

<body>

<div class="hud-container">
    <div class="hud-frame">
        <div class="avatar"></div>

        <form method="post">
            {% csrf_token %}

            <input type="text" name="username" placeholder="Username or Email" required>
            <input type="password" name="password" placeholder="Password" required>

            <div class="options">
                <a href="#">Forgot password?</a>
            </div>

            <button type="submit">LOGIN</button>

            <p style="text-align:center; font-size:0.75rem; margin-top:14px;">
                No account?
                <a href="{% url 'signup' %}" style="color:#22c55e;">Register</a>
            </p>
        </form>
    </div>
</div>

</body>
</html>
